<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Node.js News</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header class="header">
      <div class="header__logo">Node.js logo</div>
      <%- include('./partials/search.ejs')%>
    </header>
    <div class="wrapper">
      <div class="news">
        <% articles.forEach(element => {%>
        <a href="/article/<%- element.id%>" class="news__card">
          <img src="<%- element.thumbnail_url%>" alt="" />
          <h2><%- element.title.rendered%></h2>
          <p><%- element.excerpt.rendered%></p>
        </a>
        <% }); %>
      </div>
    </div>
  </body>
</html>
